@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.default-dashboard {
    height: 500px;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.default-dashboard img {
    height: 300px;
    width: auto;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h1 {
    font-family: montserrat;
    margin: 0;
}

.text h3 {
    font-family: work sans;
    font-weight: 400;
    font-size: 1.3rem;
    color: black;
}

.text .link {
    font-family: work sans;
    font-size: 20px;
}