@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    height: 80px;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    justify-content: space-between;
    background-color: gainsboro;
    border-radius: 20px;
}

.navbar .link {
    font-family: lexend;
    text-decoration: none;
    color: #111;
    font-size: 1.7rem;
    font-weight: 600;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-family: work sans;
    font-size: 20px;
    padding: 4px 5px;
    border-radius: 10px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 30px;
}

button {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border: none;
    background-color: #111;
    color: white;
    cursor: pointer;
    font-family: work sans;
}

.logOutBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}